# Fill in the values below with your own configuration.
KAFKA_SERVERS = "kafka:port"

UMA_API_KEY = "YOUR_KEY_HERE"

MONGO_ROOT_PASS = "localhostdb"
MONGO_ROOT_USER = "admin123"
MONGO_PORT = 27017

MONGO_SERVER = "mongodb://${MONGO_ROOT_USER}:${MONGO_ROOT_PASS}@mongodb:${MONGO_PORT}?authSource=admin" #authSource=admin is optional and default. Can be fully replaced with mongodb atlas URI.

MONGO_DB_NAME = "some_db_name"
