# Kopiér denne filen til .env og fyll inn dine egne detaljer
MONGO_ATLAS_URI="mongodb://admin:supersecretpassword123@mongodb-local:27017/chess_analytics?authSource=admin"

# Skaff en gratis nøkkel på api-nettsiden og lim den inn her:
CHESS_API_KEY="YOUR_KEY_HERE"
